.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styled-table {
  border-collapse: collapse; 
 margin: 25px 0;
 font-size: 0.9em;
 font-family: sans-serif;
 min-width: 1000px;
 box-shadow: 0 0 20px ;
 margin-left: auto;
 margin-right: auto;
 border-radius: 25px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #080606;
  text-align: left;
}

.styled-table td {
    padding: 22px 15px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}
.styled-table th{
  padding: 10px 15px;
    text-align: center;
    color: #000000;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
  background-color: #d9f6f3;
} */

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.rewards{
  padding: 20px;
  background-color: aliceblue;
  border-radius: 30px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(./pages/pic-bg2.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(219, 255, 15);
  font-weight: bolder;
}